<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berry Pi Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .noticias-container {
        max-height: 400px;  /* Ajusta la altura máxima según lo que necesites */
        overflow-y: auto;
    }
</style>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Berry Pi Dashboard</span>
            <span class="navbar-text text-light">Bienvenido, {{ user.username }} <a href="{{ url_for('logout') }}">Logout</a></span> <!-- Mostrar el nombre del usuario -->
        </div>
    </nav>
    
    <div class="container mt-4">
        <div class="row">
            <!-- Noticias de la NBA -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Noticias de la NBA</h5>
                        <div class="noticias-container">
                        <div class="container mt-4">
                            <div class="row">
                                {% for noticia in noticias %}
                                <div class="col-md-12">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ noticia.title }}</h5>
                                            <a href="{{ noticia.url }}" class="btn btn-primary" target="_blank">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <!-- Eventos en tu ciudad -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Eventos en tu ciudad</h5>
                        <p class="card-text">Próximos eventos relevantes para ti.</p>
                    </div>
                </div>
            </div>

            <!-- Noticias de interés -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Noticias de interés</h5>
                        <p class="card-text">Personaliza los temas que más te importan.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Información adicional en el dashboard -->
        <div class="mt-4">
            <div class="alert alert-info">
                <p>En esta sección puedes personalizar tu tablero con tus intereses y preferencias.</p>
                <a href="{{ url_for('select_favorites') }}">Tus equipos</a>
            </div>
        </div>
    </div>
</body>
</html>
